<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Suas Tarefas</title>
    <!-- Adicione o link para o CSS do Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body class="bg-light">
    <div class="container mt-5">
        <h2 class="mb-4">Suas Tarefas</h2>

        {% if tarefas %}
            <ul class="list-group">
                {% for tarefa in tarefas %}
                    <li class="list-group-item">
                        {{ tarefa.nome_tarefa }} - {{ tarefa.importancia }} - {{ tarefa.anotacao }}
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>Você não tem tarefas no momento.</p>
        {% endif %}

        <p class="mt-3"><a href="{{ url_for('index') }}" class="btn btn-primary">Voltar à página inicial</a></p>
    </div>

    <!-- Adicione os scripts do Bootstrap no final do corpo para melhorar o desempenho -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
